#progress-row {
    height: 3;
    align: center middle;
    layout: horizontal;
}

#progress {
    width: 1fr;
}

#spinner {
    width: 3;
    margin-right: 1;
    content-align: center middle;
    color: #90DBE5;
}

#logs {
    height: 20;
    overflow: hidden;
}

#input {
    height: 3;
    border: round #90DBE5;
}

/* Progress bar color */
ProgressBar .bar--bar {
    color: #E54073;
}